ErrorDocument 404 /notfound.html




# mod_rewrite starts here

RewriteEngine on

# Does not apply to existing directories

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we show th page with .html extension

RewriteRule ^(.*)$ $1.html [NC,L]